/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "simple_calendar";

.marker-red{
  background:linear-gradient(transparent 70%, #c466a0 0%);
}
.marker-blue{
  background:linear-gradient(transparent 70%, #00ffdd 0%);
}
.marker-yellow{
  background:linear-gradient(transparent 70%, yellow);
}
.double-border {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
}
.top-border {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #ff7d6e;
  background: #ffebe9;
  border-top: solid 10px #ff7d6e;
}
.y-border{
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}
.left-border {
  padding: 0.5em 1em;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
.shadow {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #00BCD4;
  background: #e4fcff;/*背景色*/
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.32);/*影*/
}
.infobox {
  position: relative;
  padding: 0.5em 0.7em;
  margin: 2em 0;
  background: #e6f4ff;
  color: #5c98d4;
  font-weight: bold;
}
.infobox:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 125px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}
.think {
  position: relative;
  padding: 20px;
  background-color: #e6f4ff;
  border-radius: 15px;
  margin-left: 70px;
}
  
.think::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #e6f4ff;
  left: -35px;
  bottom: 15px;
  width: 30px;
  height: 30px;
}

.think::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #e6f4ff;
  left: -55px;
  bottom: 10px;
  width: 15px;
  height: 15px;
}
.date{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.profile_avatar{
  border-radius: 50%;
}
#directions-panel {
  background-color: #ffee77;
  padding: 10px;
  overflow: scroll;
  height: 200px;
}
// #card{
//   overflow: scroll;
//   height: 500px;
// }
#comments_area{
  overflow: scroll;
  height: 200px;
}
#schedule_table{
  overflow: scroll;
  height: 200px;
}
.map-route{
  background-color: #e6f4ff;
  padding: 10px;
  overflow: scroll;
  height: 200px;
}